
<div id="emotionsContainer" class="d-flex flex-wrap">
    <app-single-bar [name]="'Angry'" [color1]="'#E21919'" [color2]="'#984E4E'" [value] = "angry"></app-single-bar>
    <app-single-bar [name]="'Disgust'" [color1]="'#37D042'" [color2]="'#1A6420'" [value] = "disgust"></app-single-bar>
    <app-single-bar [name]="'Fear'" [color1]="'#FF007A'" [color2]="'#906490'" [value] = "fear"></app-single-bar>
    <app-single-bar [name]="'Happy'" [color1]="'#FFEA00'" [color2]="'#8F8A57'" [value] = "happy"></app-single-bar>
    <app-single-bar [name]="'Sad'" [color1]="'#6CB4DF'" [color2]="'#4E8698'" [value] = "sad"></app-single-bar>
    <app-single-bar [name]="'Surprise'" [color1]="'#F5B9C3'" [color2]="'#664E98'" [value] = "surprise"></app-single-bar>
    <app-single-bar [name]="'Neutral'" [color1]="'#A9A9A9'" [color2]="'#737373'" [value] = "neutral"></app-single-bar>
  </div>