<div
    class="wrap"
  >
    <span class="feature" *ngIf="feat[0] != null"> {{ feat[0] }}</span>
    <span class="feature" *ngIf="feat[1] != null"> {{ feat[1] }}</span>
    <span class="feature" *ngIf="feat[2] != null"> {{ feat[2] }}</span>
    <span class="feature" *ngIf="feat[3] != null"> {{ feat[3] }}</span>
    <span class="feature" *ngIf="feat[4] != null"> {{ feat[4] }}</span>
    <span class="feature" *ngIf="feat[5] != null"> {{ feat[5] }}</span>
    <span class="feature" *ngIf="feat[6] != null"> {{ feat[6] }}</span>
    <span class="feature" *ngIf="feat[7] != null"> {{ feat[7] }}</span>
    <span class="feature" *ngIf="feat[8] != null"> {{ feat[8] }}</span>
  </div>
